<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.univpm.mobile_programming_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".RegistrazioneActivity"
            android:theme="@style/Theme.App.Fullscreen" />
        <activity
            android:name=".AccediActivity"
            android:theme="@style/Theme.App.Fullscreen" />
        <activity
            android:name=".ChooseLoginRegisterActivity"
            android:theme="@style/Theme.App.Fullscreen" />
        <activity
            android:name=".ChooseProprietarioAffittuarioActivity"
            android:theme="@style/Theme.App.Fullscreen" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.App.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>